{% extends 'sidebar.html' %}

{% block title %}{{ person.full_name }}{% if person.institution %} - {{ person.institution }}{% endif %}{% endblock %}

{% block meta-tags %}
<meta name="robots" content="noindex">
{% endblock %}

{% block json-ld %}
<script type="application/ld+json">
{{ json_ld_representation|safe }}
</script>
{% endblock %}

{% block content %}

<h1>{{ person.full_name }}</h1>

{% if person.institution %}{{ person.institution }}{% endif %}

<h2>Research by {{ person.full_name }}</h2>

{% include 'parts/researchlist.html' with items=person.items_list %}

{% endblock %}

{% block sidebar %}

{% if person.twitter %}

    <h2>Twitter</h2>

    <p><a href="https://twitter.com/{{ person.twitter }}">{{ person.twitter }}</a></p>

{% endif %}

{% if person.googlescholar %}

    <h2>Google Scholar</h2>

    <p><a href="https://scholar.google.co.uk/citations?user={{ person.googlescholar }}">{{ person.full_name }} at Google Scholar</a></p>

{% endif %}

{% if person.orcid %}

    <h2>ORCID ID</h2>

    <p><a href="http://orcid.org/{{ person.orcid }}">{{ person.orcid }}</a></p>

{% endif %}

{% if person.researcherid %}

    <h2>ResearcherID</h2>

    <p><a href="http://www.researcherid.com/rid/{{ person.researcherid }}">{{ person.researcherid }}</a></p>

{% endif %}

{% endblock %}
