{% extends 'fullpage.html' %}

{% block title %}Our Research{% endblock %}

{% block social-meta-tags %}
<meta property="og:site_name" content="{{settings.SITE_NAME}}">
<meta property="og:title" content="{{settings.SITE_NAME}} &ndash; Publications">
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{% url 'items' %}">
<meta property="og:description" content="mySociety Research Publications" >

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{settings.SITE_TWITTER_HANDLE}}">
<meta name="twitter:title" content="{{settings.SITE_NAME}} &ndash; Publications">
<meta name="twitter:description" content="mySociety Research Publications">

<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{settings.DEFAULT_SHARE_IMAGE}}">
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{settings.DEFAULT_SHARE_IMAGE}}">
{% endblock %}


{% block content %}

<h1>Research publications</h1>

{% regroup items by date.year as year_item_lists %}

{% for year in year_item_lists %}

<h3>{{year.grouper}}</h3>
<hr>

{% include 'parts/researchlist.html' with items=year.list %}

{% endfor %}

{% endblock %}
