{% extends 'sidebar.html' %}
{% load thumbnail %}

{% block title %}{{ item.title }} ({{ item.date.year }}){% endblock %}

{% block meta-tags %}
<link rel="schema.DC" href="http://purl.org/DC/elements/1.0/">
<meta name="DC.relation" content="{{ request.build_absolute_uri }}">
<meta name="DC.title" content="{{ item.title }}">
{% for author in item.author_list %}
<meta name="DC.creator" content="{{ author.last_name}}, {{ author.first_name }}">
{% endfor %}
<meta name="DC.date" content="{{ item.date|date:'Y-m-d' }}">
{% if item.licence %}
<meta name="DC.rights" content="{{ item.licence }}">
{% endif %}

{% if item.published == False %}
<meta name="robots" content="noindex">
{% endif %}


{% endblock %}
{% block social-meta-tags %}
<meta property="og:site_name" content="{{settings.SITE_NAME}}">
<meta property="og:title" content="{{item.title}}"/>
<meta property="og:description" content="{{item.share_abstract}}" >
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{% url 'item' item.slug %}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{settings.SITE_TWITTER_HANDLE}}">
<meta name="twitter:title" content="{{item.title}}">
<meta name="twitter:description" content="{{item.share_abstract}}">

{% if item.hero %}
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{item.hero.url}}">
{% else %}
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{settings.DEFAULT_SHARE_IMAGE}}" />
{% endif %}

{% if item.thumbnail %}
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{item.thumbnail.url}}">
{% else %}
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{settings.DEFAULT_SHARE_IMAGE}}">
{% endif %}

{% endblock %}

{% block json-ld %}
<script type="application/ld+json">
{{ json_ld_representation|safe }}
</script>
{% endblock %}

{% block content %}


<h1>{{ item.title }}</h1>
{% if item.subtitle %}
    <p class="item-subtitle">{{ item.subtitle }}</p>
{% endif %}



{% thumbnail item.hero "1024x680" crop="center" as im %}
<img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
{% endthumbnail %}


<hr>

{% with item.ordered_top_outputs as oo %}
{% if oo %}

<p>
    {% for output in oo %}

    <span class="research-item__button" ><a class="button" rel="nofollow" href="{% url 'download' output.id %}">{{ output.title }}</a></span>

    {% endfor %}
</p>
{% endif %}
{% endwith %}


<hr>

    {{ item.abstract }}


{% with item.ordered_outputs as oo %}
{% if oo %}

    <h2>Documents</h2>

    {% for output in oo %}

    <h3>{{ output.title }}</h3>

    <p><a class="button" rel="nofollow" href="{% url 'download' output.id %}">{{ output.button_text }}</a></p>

    {% endfor %}

{% endif %}
{% endwith %}


<h2>Cite this</h2>

<p class="citation-harvard">{% for author in item.author_list %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{ author.last_name }}, {{ author.first_name|slice:'1' }}.{% endfor %}

({{ item.date|date:'Y' }}). <i>{{ item.title }}</i>. [online] {{site.site_title}}. Available at: {{ item.absolute_url }} [Accessed {% now 'j M Y' %}].</p>


{% endblock %}

{% block sidebar %}

<h2>Authors</h2>

{% for author in item.author_list %}

<div class="sidebar-author-block">

<h3 class="author-name">{{ author.full_name }}</h3>

{% if author.institution %}
<p class="author-institution">{{ author.institution }}</p>
{% endif %}

{% if author.preferred_url %}
<p class="author-more-link"><a href="{{ author.preferred_url }}" rel="author">More about {{ author.full_name }}</a></p>
{% endif %}

</div>

{% endfor %}

{% if item.funders %}

    <h2>Funding</h2>

    {{ item.funders }}

{% endif %}


{% if item.licence %}

    <h2>Licence</h2>

    {% with template_name=item.licence|stringformat:"s"|add:".html" %}
        {% include 'licences/'|add:template_name %}
    {% endwith %}

{% endif %}


{% if item.tags %}

    <h2>Tags</h2>

    <ul class="tags">
    {% for tag in item.tags.all %}

    <li class="tag"><a href="{% url 'tag' tag.slug %}">{{ tag.slug }}</a></li>

    {% endfor %}
    </ul>

{% endif %}

{% endblock %}
