{% extends 'fullpage.html' %}

{% block title %}Our Research{% endblock %}

{% block social-meta-tags %}
<meta property="og:site_name" content="{{settings.SITE_NAME}}">
<meta property="og:title" content="{{settings.SITE_NAME}} &ndash; Publications">
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{% url 'items' %}">
<meta property="og:description" content="mySociety Research Publications" >

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{settings.SITE_TWITTER_HANDLE}}">
<meta name="twitter:title" content="{{settings.SITE_NAME}} &ndash; Publications">
<meta name="twitter:description" content="mySociety Research Publications">

<meta property="og:image" content="{{settings.DEFAULT_SHARE_IMAGE}}">
<meta name="twitter:image" content="{{settings.DEFAULT_SHARE_IMAGE}}">
{% endblock %}


{% block content %}

<h1>Published Research</h1>

<ul class="research-items">

{% for item in items %}
<li class="research-item">
{% include 'parts/researchitem.html' %}
</li>
{% endfor %}


</ul>

{% endblock %}
