{% extends 'fullpage.html' %}

{% block title %}Our Research{% endblock %}

{% block social-meta-tags %}
<meta property="og:site_name" content="{{site.site_title}}">
<meta property="og:title" content="{{site.site_title}} &ndash; Publications">
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{% url 'items' %}">
<meta property="og:description" content="{{site.site_title}} Publications" >

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{site.twitter}}">
<meta name="twitter:title" content="{{site.site_title}} &ndash; Publications">
<meta name="twitter:description" content="{{site.site_title}} Publications">

<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{settings.DEFAULT_SHARE_IMAGE_LARGE}}">
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{settings.DEFAULT_SHARE_IMAGE_LARGE}}">
{% endblock %}


{% block content %}

<h1>Research publications</h1>

{% include 'parts/researchyearlist.html' with items=items %}

<div class="colour-red" style="margin: 2em 0;">
    <h2>Research newsletter</h2>
    <p>
        Sign up to our mailing list for updates about new publications and events.
    </p>
    <form style="max-width: 24em" action="//mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&amp;id=287dc28511" method="POST">
        <div style="position: absolute; left: -5000px;">
            <input name="b_53d0d2026dea615ed488a8834_287dc28511" tabindex="-1" value="" type="text">
        </div>
        <input name="group[11745][16]" value="1" type="hidden">
        <div class="inline-input">
            <input name="EMAIL" placeholder="you@email.com" aria-label="Email address" type="email">
        </div><div class="inline-button">
            <input type="submit" class="button" name="subscribe" value="Subscribe" onclick="ga('send', 'event', 'Newsletter', 'Signup', '{{item.slug}}')">
        </div>
        <p>
            <label>
                <input name="group[11745][32]" value="1" type="checkbox" style="vertical-align: 0.1em; margin-right: 0.3em;">
                Also sign up to general mySociety news
            </label>
        </p>
    </form>
</div>

{% endblock %}
