{% extends 'sidebar.html' %}

{% block title %}{{ item.title }} ({{ item.year }}){% endblock %}

{% block content %}

<h1>{{ item.title }}</h1>

<ul class="item-authors">
{% for author in item.author_list %}
<li class="item-author">{{ author.full_name }}</li>
{% endfor %}
</ul>


<h2>Abstract</h2>

    {{ item.abstract }}


{% if item.outputs.all %}

    <h2>Documents</h2>

    {% for output in item.outputs.all %}

    <h3>{{ output.title }}</h3>

    {% if output.subtitle %}
    <h4>{{ output.subtitle }}</h4>
    {% endif %}

    <p><a class="button" href="{{ output.button_url }}">{{ output.button_text }}</a></p>

    {% endfor %}

{% endif %}


{% if item.funders %}

    <h2>Funding</h2>

    {{ item.funders }}

{% endif %}


{% if item.licence %}

    <h2>Licence</h2>

    {% with template_name=item.licence|stringformat:"s"|add:".html" %}
        {% include 'licences/'|add:template_name %}
    {% endwith %}

{% endif %}


{% endblock %}

{% block sidebar %}

<h2>Authors</h2>

{% for author in item.author_list %}

<h3>{{ author.full_name }}</h3>

{% if author.institution %}
<p>{{ author.institution }}</p>
{% endif %}

{% if author.link_behaviour == 'profile-page' %}
<p><a href="{% url 'person' author.slug %}">More research by {{ author.full_name }}</a></p>
{% elif author.link_behaviour == 'url' and author.url %}
<p><a href="{{ author.url }}">More about {{ author.full_name }}</a></p>
{% endif %}

{% endfor %}

{% endblock %}
