{% extends 'fullpage.html' %}
{% load thumbnail %}

{% block title %}{{ tag.nice_name }}{% endblock %}


{% block social-meta-tags %}
<meta property="og:site_name" content="{{settings.SITE_NAME}}">
<meta property="og:title" content="mySociety Research - {{tag.nice_name}}">
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{% url 'tag' tag.slug %}">


<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{settings.SITE_TWITTER_HANDLE}}">
<meta name="twitter:title" content="Tag - {{tag.nice_name}}">

<meta property="og:description" content="{{tag.description}}" >
<meta name="twitter:description" content="{{tag.description}}">

<meta property="og:image" content="{{settings.DEFAULT_SHARE_IMAGE}}">
<meta name="twitter:image" content="{{settings.DEFAULT_SHARE_IMAGE}}">

{% endblock %}


{% block content %}

<h1>{{ tag.nice_name }}</h1>

{% thumbnail tag.hero "1024x350" crop="center" as im %}
<img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
{% endthumbnail %}

{{ tag.description }}

{% with tag.tag_groups.all as tg %}

{% if tg %}

<p><b>Part of: </b>{% for t in tg %}<a href="{% url 'tags' %}#{{t.slug}}">{{t.name}}</a>{% if not forloop.last %},{% endif %}{% endfor %}</p>

{% endif %}
{% endwith %}

{% if tag.display_items_in_years %}
	{% include 'parts/researchyearlist.html' with items=tag.researchitem_set.all %}
{% else %}
	<hr>
	{% include 'parts/researchlist.html' with items=tag.researchitem_set.all %}
{% endif %}

{% endblock %}
