conf/*.yml
conf/config.py
conf/httpd.conf
conf/crontab
*.deployed
.overcommit.yml
.vagrant
*.pyc
web/down.html

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
.gradle
bin/
tmp/
target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/