Django==1.11.29
Markdown==2.6.8
Pillow==4.1.1
pyyaml==5.4
argparse==1.2.1
csscompressor==0.9.4
django-autoslug==1.9.3
django-markitup==3.0.0
django-pipeline==1.6.14
-e git+https://github.com/mysociety/django-pipeline-csscompressor@6a88fde5045d68746f1c7ee816deda86615c5581#egg=django_pipeline_csscompressor-master
futures==3.0.5
libsass==0.12.3
olefile==0.44
psycopg2==2.6.2
six==1.10.0
wsgiref==0.1.2
feedparser==5.2.1
tablib==0.13
django-import-export==0.5.1
useful_inkleby==0.3
-e git+https://github.com/mariocesar/sorl-thumbnail.git@47cc30d5c9e9aeccf314cae61e70c830f9fe4e73#egg=sorl-thumbnail
colorthief
djangorestframework==3.9.4