Django==4.1.2
Markdown==2.6.8
Pillow==9.0.1
pyyaml==5.4
argparse==1.2.1
csscompressor==0.9.4
django-autoslug==1.9.8
django-markitup==4.1.0
django-pipeline==2.0.8
git+https://github.com/mysociety/django-pipeline-csscompressor@6a88fde5045d68746f1c7ee816deda86615c5581#egg=django_pipeline_csscompressor
libsass==0.12.3
olefile==0.44
psycopg2==2.8.5
six==1.10.0
feedparser==6.0.8
django-import-export==3.0.1
git+https://github.com/mariocesar/sorl-thumbnail.git#egg=sorl-thumbnail
colorthief
djangorestframework==3.13.1
