Django==4.2.15
Markdown==2.6.8
Pillow==9.0.1
pyyaml==5.4
argparse==1.2.1
csscompressor==0.9.4
django-autoslug==1.9.8
django-markitup==4.1.0
django-pipeline==3.1.0
git+https://github.com/mysociety/django-pipeline-csscompressor@6a88fde5045d68746f1c7ee816deda86615c5581#egg=django_pipeline_csscompressor
libsass==0.12.3
olefile==0.44
psycopg2==2.8.5
six==1.10.0
feedparser==6.0.8
django-import-export==4.1.1
sorl-thumbnail==12.10.0
colorthief
djangorestframework==3.15.2
beautifulsoup4==4.11.1
Whoosh==2.7.4
django-haystack==3.2.1
requests==2.31.0
git+https://github.com/mailchimp/mailchimp-marketing-python.git#egg=mailchimp_marketing