{% extends 'fullpage.html' %}

{% block title %}mySociety Research{% endblock %}

{% block content %}

<h1>We’re pretty sure our projects help people.</h1>
<h2>But ‘pretty sure’ isn’t good enough.</h2>
<p>The civic tech movement is relatively young. When it began, the priority was to build the digital tools that would bring about change.</p>
<p>To make them effective, easy to use. To introduce a new norm when it came to the expectations of citizens talking to the people in power.</p>
<p>But now, a decade on, there’s no excuse. We need to know for sure that our tools are doing good things, for the right people — the people that need them most.</p>
<h2>Measurable impact</h2>
<p>That’s why mySociety is committed to a programme of in depth research, asking questions like:</p>
<ul>
<li>What is the impact of our tools? Who feels that impact? How beneficial is it?</li>
<li>Are we reaching all demographics? If not, what can we change to improve that?</li>
<li>What effect does it have when we make small modifications to the way our technology works, or is presented.. or to the places where people encounter it?</li>
</ul>
<p>These are big questions. But they are crucial ones, and, working alone and with academic institutions, research organisations and our own international partners, we’re determined to see them answered.</p>

<p>Blah...</p>

<h2>Our Research</h2>

<ul class="research-items">

{% for item in featured_items %}
<li class="research-item">
{% include 'parts/researchitem.html' %}
</li>
{% endfor %}

</ul>

<p><a class="button">View all our research</a></p>

{% endblock %}
