{% load thumbnail %}

<div class="research-item__thumbnail">
  <a href="{% url 'item' item.slug %}">

    {% thumbnail item.thumbnail "110x150" format="PNG" as im %}
        <img style="margin:{{ im|margin:"110x150" }}" src="{{ im.url }}" srcset="{{ im.url|resolution:"1.5x" }} 1.5x, {{ im.url|resolution:"2x" }} 2x" width="{{ im.x }}" height="{{ im.y }}">
    {% empty %}
        <img src="/static/img/report-thumbnail.png" alt="{{ item.title }}" height="150" width="110">
    {% endthumbnail %}

  </a>
</div>

<h2 class="research-item__title"><a href="{% url 'item' item.slug %}">{{ item.title }}</a></h2>

<ul class="research-item__authors">
{% for author in item.author_list %}
<li class="research-item__author">{{ author.full_name }}</li>
{% endfor %}
</ul>

<ul class="research-item__tags">
{% for tag in item.tags.all %}
<li class="research-item__tag"><a href="{% url 'tag' tag.slug %}">{{ tag.nice_name }}</li>
{% endfor %}
</ul>

<p class="research-item__pubdate">{{ item.friendly_date }}</p>
