{% extends 'fullpage.html' %}

{% block fulltitle %}{{site.site_title}}{% endblock %}

{% block social-meta-tags %}
<meta property="og:site_name" content="{{site.site_title}}">
<meta property="og:title" content="{{site.site_title}}">
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{% url 'home' %}">
<meta property="og:description" content="{{site.description|safe}}" >

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{site.twitter}}">
<meta name="twitter:title" content="{{site.site_title}}">
<meta name="twitter:description" content="{{site.description|safe}}">

<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{settings.DEFAULT_SHARE_IMAGE_LARGE}}">
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{settings.DEFAULT_SHARE_IMAGE_LARGE}}">
{% endblock %}


{% block content %}

{% if page.show_title %}
<h1>{{ page.title }}</h1>
{% endif %}

{{ page.content|safe }}



{% if featured_groups %}
    <h2>Our research</h2>
    <div class="colour-green" style="margin: 2em 0;">
        <form style="max-width: 40em"  method="get" action="/search/">
            <div class="inline-input">
                <input name="q" placeholder="Search mySociety research" aria-label="Search term">
            </div><div class="inline-button">
                <input type="submit" class="button" name="search" value="Search">
            </div>
        </form>
    </div>
    {% for section, featured_items in featured_groups %}
    <h3>{{ section }}</h3>
    <a href="{% url 'tag' section.slug %}">See more</a>
    {% include 'parts/researchlist.html' with items=featured_items %}
    {% endfor %}
{% endif %}

{% if feed %}
    <h2>Recently on the blog<small> (<a href="https://www.mysociety.org/category/research/">See more</a>)</small></h2>
    <ul>
        {% for f in feed %}
            <li>
            <a href="{{f.1}}">{{f.0}}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<div class="colour-red" style="margin: 2em 0;">
    <h2>Research newsletter</h2>
    <p>
        Sign up to our mailing list for updates about new publications and events.
    </p>
    <form style="max-width: 24em" action="//mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&amp;id=287dc28511" method="POST">
        <div style="position: absolute; left: -5000px;">
            <input name="b_53d0d2026dea615ed488a8834_287dc28511" tabindex="-1" value="" type="text">
        </div>
        <input name="group[11745][16]" value="1" type="hidden">
        <div class="inline-input">
            <input name="EMAIL" placeholder="you@email.com" aria-label="Email address" type="email">
        </div><div class="inline-button">
            <input type="submit" class="button" name="subscribe" value="Subscribe" onclick="ga('send', 'event', 'Newsletter', 'Signup', 'Homepage')">
        </div>
        <p>
            <label>
                <input name="group[11745][32]" value="1" type="checkbox" style="vertical-align: 0.1em; margin-right: 0.3em;">
                Also sign up to general mySociety news
            </label>
        </p>
    </form>
</div>

<h2>Contact us</h2>

<p>To find out more about our research, you can contact us at <a href="mailto:research@mysociety.org">research@mysociety.org</a> </p>

{% endblock %}
