{% extends 'fullpage.html' %}

{% block fulltitle %}mySociety Research{% endblock %}

{% block social-meta-tags %}
<meta property="og:site_name" content="{{settings.SITE_NAME}}">
<meta property="og:title" content="{{settings.SITE_NAME}}">
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{% url 'home' %}">
<meta property="og:description" content="MySociety's Research into Civic Technology" >

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{settings.SITE_TWITTER_HANDLE}}">
<meta name="twitter:title" content="{{settings.SITE_NAME}}">
<meta name="twitter:description" content="MySociety's Research into Civic Technology">

<meta property="og:image" content="{{settings.DEFAULT_SHARE_IMAGE}}">
<meta name="twitter:image" content="{{settings.DEFAULT_SHARE_IMAGE}}">
{% endblock %}


{% block content %}

{% if page.show_title %}
<h1>{{ page.title }}</h1>
{% endif %}

{{ page.content|safe }}

{% if featured_items %}
    <h2>Featured research<small> (<a href="{% url 'items' %}">See more</a>)</small></h2>

    {% include 'parts/researchlist.html' with items=featured_items %}

{% endif %}

{% if feed %}
    <h2>Recently on the blog<small> (<a href="https://www.mysociety.org/category/research/">See more</a>)</small></h2>
    <ul>
        {% for f in feed %}
            <li>
            <a href="{{f.1}}">{{f.0}}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

        <div class="subscribe__subscription colour-red">
        <h2>Research newsletter</h2>
        <div class="subscribe__subscription__meta">
        <p>
        Sign up to our mailing list for updates about new publications and events.
        </p>
        </div>
        <form class="subscribe__subscription__action" action="//mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&amp;id=b79b7a551a" method="POST">
                      <input class="honeypot" name="b_53d0d2026dea615ed488a8834_b79b7a551a" tabindex="-1">
            <div class="inline-input">
                <label for="b79b7a551a_email">Email address</label>
                <input type="email" id="b79b7a551a_email" name="EMAIL" class="email" placeholder="you@example.com" />
            </div><div class="inline-button">
                <input type="submit" class="button" name="subscribe" value="Subscribe">
            </div>
            </form>
        </div>



<h2>Contact us</h2>

<p>We are always keen to hear from potential research partners, anywhere in the world.</p>

Contact: <b>research (at) mysociety dot org</b>

{% endblock %}
