{% extends 'fullpage.html' %}

{% block title %}{{ page.title }}{% endblock %}

{% block social-meta-tags %}
<meta property="og:site_name" content="{{settings.SITE_NAME}}">
<meta property="og:title" content="{{settings.SITE_NAME}} &ndash; {{page.title}}">
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{% url 'page' page.slug %}">
<meta property="og:description" content="{{page.title}}" >
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{settings.SITE_TWITTER_HANDLE}}">
<meta name="twitter:title" content="{{settings.SITE_NAME}} &ndash; {{page.title}}">
<meta name="twitter:description" content="{{page.title}}">


<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{settings.DEFAULT_SHARE_IMAGE}}">
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{settings.DEFAULT_SHARE_IMAGE}}">
{% endblock %}

{% block content %}

{% if page.show_title %}
<h1>{{ page.title }}</h1>
{% endif %}

{{ page.content|safe }}

{% endblock %}
