.image-replacement {
    text-indent: -1000%;
    white-space: nowrap;
    overflow: hidden;
}

.container {
    max-width: 63.333333333em;
    padding: 0 1em;
    margin: 0 auto;
    position: relative;
}

.unstyled-list {
    margin-left: 0;
    padding-left: 0;
    list-style: none outside none;
}

.unstyled {
    @extend .unstyled-list;
    //hangover from bootstrap
}

.inline-list {
    margin-left: -0.5em;
    margin-bottom: 0;
    li {
        display: inline-block;
        margin-left: 0.5em;
    }
}

.text--center {
    text-align: center;
}

@mixin clearfix {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }

    /**
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
    &{
        *zoom: 1;
    }
}

@mixin columns($count:2) {
    -webkit-column-count: $count;
    -moz-column-count: $count;
    -o-column-count: $count;
    column-count: $count;
}

@mixin grid-column {
    /* Use for grids where the columns are different widths */
    float: left;
    padding-left: 3%;
    &:first-child {
        padding-left: 0;
    }
}

@mixin grid-column-equal {
    /* Use for multi-column grids where all columns are equal width, it gives them equal spacing */
    float: left;
    padding-left: 1.5%;
    padding-right: 1.5%;
    &:nth-child(odd),
    &:first-child {
        padding-left: 0;
    }
     &:nth-child(even),
     &:last-child {
        padding-right: 0;
    }
}

@mixin grid-column--one-of-one {
    float: left;
    padding: 0;
    width: 100%;
}

@mixin grid-column--three-of-four {
    @include grid-column;
    width: 75%;
}

@mixin grid-column--two-of-four {
    @include grid-column;
    width: 50%;
}

@mixin grid-column--one-of-four {
    @include grid-column;
    width: 25%;
}

@mixin grid-column--one-of-five {
    @include grid-column;
    width: 20%;
}

@mixin grid-column--three-of-five {
    @include grid-column;
    width: 60%;
}


@mixin grid-column--one-of-two {
    @include grid-column-equal;
    width: 50%;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin flex-align($alignment) {
    -webkit-box-align: $alignment;
    -webkit-align-items: $alignment;
    -ms-flex-align: $alignment;
    align-items: $alignment;
}

@mixin flex-direction($direction) {
    @if ($direction == column) {
        -webkit-box-orient: vertical;
    } @elseif ($direction == row) {
        -webkit-box-orient: horizontal;
    }
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    -webkit-flex-direction: $direction;
    flex-direction: $direction;
}

@mixin justify-content($alignment) {
    -webkit-justify-content: $alignment;
    -moz-justify-content: $alignment;
    -ms-justify-content: $alignment;
    justify-content: $alignment;
}

@mixin flex-wrap($wrap) {
    -moz-box-wrap: $wrap;
    -webkit-box-wrap: $wrap;
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

@mixin unstyled-list {
    margin-left: 0;
    padding-left: 0;
    list-style: none outside none;
}

@mixin inline-list {
    margin-left: -0.5em;
    margin-bottom: 0;
    margin-top: 0;
    li {
        display: inline-block;
        margin-left: 0.5em;
    }
}
