ul.item-authors {
    padding-left: 0;
    font-style: italic;
}

li.item-author {
    display: inline;
    list-style-type: none;
    padding-right: 23px;
}

a.button {
    padding: 6px;
    border-radius: 3px;
    border: 1px solid $colour_green;
    background: lighten($colour_green, 45%);
    color: $colour_green_dark_2;

    &:hover {
        background: lighten($colour_green, 35%);
        text-decoration: none;
    }
}

.item-subtitle {
    font-size: 1.2em;
    font-weight: 600;
    color: lighten($colour_black, 25%);
    margin-top: 0px;
}

.citation-harvard {
    font-size: 0.8em;
}

.sidebar {

    font-size: 0.9em;

    .sidebar-author-block {
        margin: 14px 0;
    }

    p.author-institution {
        margin: 0;
    }
    p.author-more-link {
        margin-top: 0;
        a {
            font-size: 0.875em;
        }
    }
}
